/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html,body{
    height: 100%;
    margin:0;
}

#root{
    height: 100%;
}

.cover{
    /* display: flex;
    flex-direction: column; */
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;    
    background-image: -o-linear-gradient(330deg, #e0c3fc 0%, #8ec5fc 100%);    
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    overflow: auto;
}

.cover-board{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    justify-self: center;
}

.board-area{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.left{
    /* -webkit-box-flex : 50%; */
        /* -ms-flex : 50%; */
            /* flex : 50%; */
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
}

.right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 5em;
            flex: 1 1 5em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* border-color: blue;
    border-width: 2px;
    border-style: solid; */

}

@media only screen and (max-width:1025px) and (orientation: portrait){ 
    .cover{
        display: grid;
        grid-template-rows: auto 1fr auto auto;
    }
    .board-area{
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            gap: 1em;
        padding: 1em 0;
        place-self: center;
    }
    .left{
        flex: 0 0;
    }
    .right{
        flex: 0 0;
        width: 100%;
    }
    .Timer{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;}
    .Tools{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2;}
}