/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

ul{
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    background-image: -webkit-gradient(linear, left top, right top, from(#43e97b), to(#38f9d7));
    background-image: -o-linear-gradient(left, #43e97b 0%, #38f9d7 100%);
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    min-height: 8vh;
    text-align: center;
}

.logo{
    color:white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    text-align: center;
}

.logo h4{
    margin: 0px;
    padding: 0px;
}

.nav-links{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 50%;
    z-index: 2;

}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none; 
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 5px;
    background-color: white;
    margin: 5px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow: hidden;
    }

    .nav-links{
        overflow: hidden;
        position: fixed;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: blue;
        width: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: white;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
        -webkit-transition: -webkit-transform 0.5s ease-in;
        transition: -webkit-transform 0.5s ease-in;
        -o-transition: transform 0.5s ease-in;
        transition: transform 0.5s ease-in;
        transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }
}

.nav-active{
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
}

@-webkit-keyframes navLinkFade{
    from{
        opacity: 0;
        -webkit-transform: translateX(50px);
                transform: translateX(50px);
    }
    to{
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        -webkit-transform: translateX(50px);
                transform: translateX(50px);
    }
    to{
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

.toggle .line1{
    -webkit-transform: rotate(-45deg) translate(-8px,6px);
        -ms-transform: rotate(-45deg) translate(-8px,6px);
            transform: rotate(-45deg) translate(-8px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    -webkit-transform: rotate(45deg) translate(-8px,-6px);
        -ms-transform: rotate(45deg) translate(-8px,-6px);
            transform: rotate(45deg) translate(-8px,-6px);
}