/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.NumPad{
    display: none;
    /* flex-direction: row; */
    /* display: flex; */
    justify-content: space-around;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.733);
    
}

.NumPad button{
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
}

@media screen and (max-width:1025px) {
    .NumPad{
        display: flex;
        padding-bottom:50px;
    }
}

@media only screen and (orientation: landscape) and (max-width:1025px){
    .NumPad{
        display: flex;
        padding-bottom:50px;
    }
  }

  
/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
and (min-width: 1024px) 
and (max-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 1.5) {
    .NumPad{
        display: flex;
        padding-bottom:50px;
    }
}
