/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.Tools{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color:white;
    border-radius: 10px;
    -webkit-box-shadow: 11px 16px 28px -8px rgba(0,0,0,0.37);
            box-shadow: 11px 16px 28px -8px rgba(0,0,0,0.37);
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
}
.Tools li{
    list-style: none;
    text-align: center;
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    /* margin-left: auto; */
    /* margin-right: auto; */

}

.Tools li a{
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* padding: 5px 50px; */
    padding: 0 auto;
    margin: 0 auto;
    max-width: 100%;
}
.Tools li{
    border-right: 1px solid rgba(0,0,0,0.2);
}

.Tools li:last-child{
    border-right: none;
}

.Tools li a .icon{
    width: 1.5em;
    height: 1.5em;
    /* background-color: gray; */
    text-align: center;
    margin: 0 auto 10px;
}

.Tools li a .icon .fa{
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 34px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.Tools li a .icon .fa:first-child{
    overflow: hidden;
}

.Tools li a:hover .icon .fa:last-child{
    -webkit-transform: translateY(-20%);
        -ms-transform: translateY(-20%);
            transform: translateY(-20%);
}

/* @media screen and (max-width:1024px){
    .Tools li a{
        padding: 0 2em;
    }

    .Tools{
        width: 95vw;
        margin:0 auto;
    }

    .Tools li{
        flex:1;
    }

    .Tools li a{
        padding: 0;
    }
} */
